body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    margin: 0px auto;
    padding: 5px;
}

header {
    width: 80%;
    margin: 0 auto;
    padding: 0 10%;
    background: #7BDCB5;
}

ul#main_menu li {
    list-style: none;
    float: left;
    padding-top: 15px;
}

ul#main_menu {
    float: right;
}

ul#main_menu li a {
    padding: 20px 40px;
    text-decoration: none;
    color: black;
}

ul#main_menu li a:active {
    color: darkgoldenrod;
}

.clear {
    clear: both;
}

section {
    width: 100%;
}

#left {
    width: 60%;
    height: auto;
    float: left;
}

#left img {
    width: 60%;
    margin: 30px 0 20px 0;
    margin-left: 134px;
}

#right {
    width: 40%;
    height: 15px auto;
    float: left;
}

#right h1 {
    background: orange url(../IMAGE/icon.jpg) no-repeat;
    height: 40px;
    margin-top: 0px;
    font-size: 14px;
    line-height: 40px;
    color: black;
    text-indent: 40px;
}

#right ul li {
    list-style: none;
    display: block;
    text-decoration: none;
    line-height: 32px;
    border-bottom: 1px solid #ccc;
}

#right ul {
    margin: 0px;
    padding: 20px;
}

#footer {
    width: 100%;
}

#lienhe {
    color: black;
    height: 15px auto;
    width: 50%;
    float: left;
    text-align: center;
}

#lienhe i {
    width: 30px;
    font-size: 20px;
}

#footer1 {
    color: black;
    height: 15px auto;
    width: 50%;
    float: left;
}